@{
    ViewData["Title"] = "Home Page";
}
    <link type="text/css" rel="stylesheet" href="css/markup.css" media="screen,projection" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <div class="wrapper">
        <div class="box">AA</div>
        <div class="box">AKs</div>
        <div class="box">AQs</div>
        <div class="box">AJs</div>
        <div class="box">ATs</div>
        <div class="box">A9s</div>
        <div class="box">A8s</div>
        <div class="box">A7s</div>
        <div class="box">A6s</div>
        <div class="box">A5s</div>
        <div class="box">A4s</div>
        <div class="box">A3s</div>
        <div class="box">A2s</div>
    </div>
</div>
