@model HandsOverviewViewModel

@{
    ViewData["Title"] = "Win Percentage";
}


@foreach (HandHistory hh in Model.Hands)
{
    <p>
        <!--<span>hh.Where(x=>x.PlayerActions(y => y.PlayerName == Model.PlayerName).Earnings) </span>-->
        <br/>
    @foreach(string card in hh.FlopTurnRiverCards)
    {
        <span>@card </span>
    }
    <br/>
    @foreach(string line in hh.RawHand)
    {
        
        <span>@line</span><br/>
    }
    </p>
}
