@model ResultsViewModel

@{
    ViewData["Title"] = "Win Percentage";
    int count = 0;
}

@functions {
    string getColor(decimal value)
    {
        if(value == 0){ return "hsl(210, 100%, 20%)";}
        string hue = ((1-(1-value))*120).ToString();
        return $"hsl("+hue+",100%,50%)";
    }
}
    <link type="text/css" rel="stylesheet" href="css/markup.css" media="screen,projection" />

<div class="text-center">
  <div class="wrapper">
        @foreach (string key in Model.Results.Keys)
        {
            if(count > 12)
            {
                count = 0;
            }
            
            <div style="background-color: @getColor(@Model.Results[key].WinDecimal)" class="box tooltip1">@key
                <div class ="tooltiptext1">
                    <div>Hands: @Model.Results[key].TotalCount</div> 
                    <div>W%: @Model.Results[key].WinPercent</div> 
                </div>

            </div>
            count++;
        }
        </div>
    
    </div>
</div>
