@model PlayersOverviewViewModel

@{
    ViewData["Title"] = "Win Percentage";
}


@foreach (PlayerOverviewStats stats in @Model.Players)
{
     <a asp-controller="Home"  asp-action="Player" asp-route-playername="@stats.PlayerName ">
        @stats.PlayerName 
        @stats.HandCount
    </a>
    <br/>
}
